<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/addition" method="POST">
      <label>
        <span>Name of the title:-</span>
        <input type="text" id="title" name="title" required />
      </label>
      <label>
        <span>Category:-</span>
        <select name="category" id="category">
          <%for(let i = 0; i < categories.length; i++){%>

          <option value="<%= categories[i]%>"><%= categories[i]%></option>
          <%}%>
        </select>
      </label>
      <label>
        <span>Price:-</span>
        <input type="text" name="price" required
      /></label>
      <label>
        <span>Rating:-</span>
        <input type="text" name="rating" required
      /></label>
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
