<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new Categories</title>
    <link rel="stylesheet" type="text/css" href="/addnewcategory.css" />
  </head>
  <body>
    <form method="POST" action="/newcategory">
      <label>add new Category</label>
      <input type="text" name="newCategory" />
      <input type="submit" value="submit" />
    </form>
    <%-include('homepage.ejs')%>
  </body>
</html>
