<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%console.log(rows)%> <%for(let i = 0; i < rows.length; i++){%>
    <div>
      <p><%= rows[i].genre %></p>
    </div>
    <%}%>
  </body>
</html>
