<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <a href="/addition">add new games</a>
    <a href="/newcategory">add new category</a>

    <a href="/category">all category</a>
    <a href="/item">all items</a>
  </body>
</html>
