<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <a class="links link1" href="/addition">Add New Games</a>
    <a class="links link2" href="/newcategory">Add New Category</a>
    <a class="links link3" href="/category">All Categories</a>
    <a class="links link4" href="/item">All Items</a>
  </body>
</html>
